# ========================
# Maven
# ========================
/target/
!.mvn/wrapper/maven-wrapper.jar
target/classes

# ========================
# IntelliJ IDEA
# ========================
.idea/
*.iml
*.iws
*.ipr

# ========================
# Eclipse
# ========================
.project
.classpath
.settings/

# ========================
# VS Code
# ========================
.vscode/

# ========================
# Logs
# ========================
*.log

# ========================
# OS (Windows / Mac)
# ========================
.DS_Store
Thumbs.db

# ========================
# Java
# ========================
*.class

# ========================
# Environment files
# ========================
.env

# ========================
# Database configs (opcional)
# ========================
*.db
*.sqlite